<?php include 'template/header.html';?>

<body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
wx.config({
	appId: '<?php echo $signPackage["appId"];?>',
    timestamp: <?php echo $signPackage["timestamp"];?>,
    nonceStr: '<?php echo $signPackage["nonceStr"];?>',
    signature: '<?php echo $signPackage["signature"];?>',
    jsApiList: [
        'checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'hideMenuItems',
        'showMenuItems',
        'hideAllNonBaseMenuItem',
        'showAllNonBaseMenuItem',
        'translateVoice',
        'startRecord',
        'stopRecord',
        'onRecordEnd',
        'playVoice',
        'pauseVoice',
        'stopVoice',
        'uploadVoice',
        'downloadVoice',
        'chooseImage',
        'previewImage',
        'uploadImage',
        'downloadImage',
        'getNetworkType',
        'openLocation',
        'getLocation',
        'hideOptionMenu',
        'showOptionMenu',
        'closeWindow',
        'scanQRCode',
        'chooseWXPay',
        'openProductSpecificView',
        'addCard',
        'chooseCard',
        'openCard'
    ]
});

wx.ready(function(){
	wx.onMenuShareTimeline({
	    title: '<?php echo $shareinfo["title"];?>',
	    link: '<?php echo $shareinfo["link"];?>',
	    imgUrl: '<?php echo $shareinfo["imgUrl"];?>',
	    trigger: function (res) {
	        //alert('用户点击分享到朋友圈');
	    },
	    success: function (res) {
	        //请求统计接口
	        $.ajax({
	        	type:"POST",
	        	url:'<?php echo SITE_DOMAIN;?>contentlog.php',
	        	data:"action=share&id=<?php echo $content['id'];?>&openid=<?php echo $_SESSION['openid'];?>",
	        	success:function(msg){
	        		var objmsg = eval("("+msg+")");
	        		console.log(objmsg.msg);
	        	}
	        });
	    },
	    cancel: function (res) {
	        //alert('已取消');
	    },
	    fail: function (res) {
	        console.log(res);
	    }
	});

<?php if(!isset($_SESSION['location'])):?>	
	wx.getLocation({
	    type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
	    success: function (res) {
	        var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
	        var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
	        var speed = res.speed; // 速度，以米/每秒计
	        var accuracy = res.accuracy; // 位置精度
	        $.ajax({
	        	type:"POST",
	        	url:"<?php echo SITE_DOMAIN;?>contentlog.php",
	        	data:"action=location&latitude="+latitude+"&longitude="+longitude,
	        	success:function(msg){}
	        });
	    }
	});
<?php endif;?>
	
});

<?php if(!empty($shareopenid)&&!$isclicked):?>
$(function(){
	setTimeout(function(){
		$.ajax({
			type:"POST",
		    url:'<?php echo SITE_DOMAIN;?>contentlog.php',
		    data:"action=clickshare&id=<?php echo $content['id'];?>&shareopenid=<?php echo $shareopenid;?>",
		    success:function(data){
		    	var msgobj = eval("("+data+")");
		    	setTimeout(function(){
		    		alert(msgobj.msg);
		    	},3000);
		    	//to do 引入artDialog，丰富交互
		    	
		    }
		});
	},3000);	
});
<?php endif;?>
</script>
<style>
.proinfo_1 img{max-width: 100%;}

</style>
<div id="frame" style="margin-bottom:50px;">

	<div id="top">

		<a id="logo" href="index.php"><img src="source/images/home.png" align="top"></a>

		<a id="title">文章详细 --同城新媒</a>

		<!--a id="search" href="search.jsp"><img src="source/images/search.png" align="top"></a-->

		<span id="list"><a href="javascript:window.history.back();"><img src="source/images/goback.png" align="top"></a>

		

		   <a href="login.html"><img src="source/images/userlogin.png" align="top"></a>

		

		</span>

	</div>

	<div id="con">
		<div class="tour_div">

			<div class="tour_title tc0" style="font-size:20px;"><?php echo $content['title'];?></div>
			<div style="border: 1px #ECECEC dashed;background-color: #fff;padding: 5px;font-size: 12px;color: #FF5705;margin-top: 5px;margin-bottom: 10px;line-height:20px;height:40px;">
				     
				<div style="width:35%;float:left;height:20px;">阅读：<?php echo $content['visitcount'];?></div>
				<div style="width:45%;float:left;height:20px;">发布：<?php echo date('Y-m-d',strtotime($content['addtime']));?></div>
				<div style="width:35%;float:left;height:20px;">剩余：￥<?php echo $content['leftmoney'];?></div> 
				<div style="width:60%;float:left;height:20px;">人均：￥<?php echo $content['minprice'];?>-￥<?php echo $content['maxprice'];?></div>           
			</div>
			<div style="width:100%;font-size:12px;">
				分钱区域：<?php echo $areadata;?>
			</div>
			<div class="proinfo_1">
				<?php echo $content['content'];?>
			</div>	
		</div>	

	</div>

<script>

$(function () {

	$('#list img').click(function (e) {

		if(parseInt($('#info').css('right'))==0){

			$('#info').animate({right:-200},200).css('display','none');

			$('#frame').animate({left:0},200);

		}else{

			$('#info').animate({right:0},200).css({'display':'block','height':$('#frame').height()});

			$('#frame').animate({left:-200},200);

		}

	});

	$(window).manhuatoTop({

		showHeight : 500,//设置滚动高度时显示

		speed : 500 //返回顶部的速度以毫秒为单位

	});

})

function show(i){

	var now = new Date();

	var utime = $('input').eq(i).attr("value");

	if (utime == "")

		return "无";

	var urodz = new Date(utime);

	var daysRound = Math.floor((urodz - now) / 1000 / 60 / 60 / 24);

	var hoursRound = Math.floor((urodz - now) / 1000 / 60 / 60 - (24 * daysRound));

	var minutesRound = Math.floor((urodz - now) / 1000 / 60 - (24 * 60 * daysRound) - (60 * hoursRound));

	var secondsRound = Math.floor((urodz - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound));

	var time = daysRound + "天" + hoursRound + "时" + minutesRound + "分" + secondsRound + "秒";

	if (daysRound < 0 || hoursRound < 0 || minutesRound < 0 || secondsRound < 0)

		time = "特卖已经结束！";

	if (daysRound >= 3)

		time = "3天以上";

	$('.servertime').eq(i).html(time);

	setTimeout("show(\"" + i + "\")",1000);

}



h=1;

$("#more").click(function(){

	var scrolltop=$("#con").height();

	$("#more").html("<img src=\"source/images/loading.gif\">");

	htmlobj=$.ajax({url:"more.jsp@type=0&page="+h,async:false});

	$("#con").append(htmlobj.responseText);

	h=h+1;

	

	$("#more").html("点击查看更多");

	$("html,body").animate({scrollTop:scrolltop+60},500);	

	if($("#nomore").attr("value")==1){

		$("#more").html("请关注后续更新");

	}

});

</script>

<?php include 'template/footer.html';?>
