<div id="footer">同城新媒 ©2016</div>	
<div id="menu" style="position:fixed;bottom:0px;width:100%;height:44px;line-height:44px;z-index:999;background:url(source/images/menubg.png) repeat-x;">

	<ul style="margin:0 auto;list-style-type:none;width:100%;max-width:500px;height:100%;">

		

		<li><img class="img_front" src="source/images/front.png"><div class="menu_li"><img src="source/images/coin.png" width=10>&nbsp;热点导航</div><img class="line" src="source/images/line.png" width=1>

		

		<span style="background-size:100%;">

			<img src="source/images/navbg4.png" width=100%>

			<div style="position:absolute;top:0px;left:0px;">

		

			<a href="onsale_0.html">美食</a>

		

			<a href="onsale_2.html">开业</a>

		

			<a href="hot.html">房产</a>

		

			<a href="hot.html">建材</a>

		

			</div>

		</span>

		

		</li>

		

		<li><img class="img_front" src="source/images/front.png"><div class="menu_li"><img src="source/images/coin.png" width=10>&nbsp;关于我们</div><img class="line" src="source/images/line.png" width=1>

		

		<span style="background-size:100%;">

			<img src="source/images/navbg4.png" width=100%>

			<div style="position:absolute;top:0px;left:0px;">

		

			<a href="list.jsp">网站介绍</a>

		

			<a href="rank.html">加盟我们</a>

		

			<a href="rank.html">加盟我们</a>

		

			<a href="search.html">广告投放</a>

		

			</div>

		</span>

		

		</li>

		

		<li><img class="img_front" src="source/images/front.png"><div class="menu_li"><img src="source/images/coin.png" width=10>&nbsp;用户中心</div>

		

		<span style="background-size:100%;">

			<img src="source/images/navbg5.png" width=100%>

			<div style="position:absolute;top:0px;left:0px;">

		

			<a href="#">个人资料</a>

		

			<a href="#">赚钱记录</a>

		

			<a href="#">我的钱包</a>

		

			<a href="#">问题帮助</a>



			<a href="#">赚钱秘笈</a>

		

			<a href="#">排行榜</a>



			</div>

		</span>

		

		</li>

		

	</ul>

</div>

<div class="footer_front" style="position:fixed;width:100%;height:100%;top:0px;left:0px;z-index:888;display:none;"><img src="source/images/front.png" width="100%" height="100%"></div>

<style>

#menu ul li{float:left;width:33.3%;height:100%;text-align:center;position:relative;font-size:14px;}

#menu ul li .line{position:absolute;top:0px;right:0px;z-index:30;}

#menu ul li .menu_li{position:absolute;top:0px;left:0px;z-index:20;width:100%;height:100%;color:#454545;background:url(source/images/menubg.png) repeat-x;}

#menu ul li .img_front{position:absolute;top:0px;left:0px;z-index:30;width:100%;height:100%;}

#menu ul li .img_front img{width:100%;height:100%;}

#menu ul li span{position:absolute;bottom:-300px;left:50%;width:104px;margin-left:-52px;height:auto;text-align:center;z-index:10;}

#menu ul li span a{float:left;width:100%;height:43px;line-height:43px;color:#454545;text-decoration:none;}

</style>

<script>
window.onload = function(){

	$('#menu ul li').each(function(j){

		$('#menu ul li').eq(j).removeClass("on");

		$('#menu ul li span').eq(j).animate({bottom:-$('#menu ul li span').eq(j).height()},100);

	});

}

$('#menu ul li').each(function(i){

	$(this).click(function(){

		if($(this).attr("class")!="on"){

			$('#menu ul .on span').animate({bottom:-$('#menu ul .on span').height()},200);

			$('#menu ul .on').removeClass("on");

			$(this).addClass("on");

			$('#menu ul li span').eq(i).animate({bottom:35},200);

			$('.footer_front').show();

		}else{

			$('#menu ul li span').eq(i).animate({bottom:-$('#menu ul li span').eq(i).height()},200);

			$(this).removeClass("on");

			$('.footer_front').hide();

		}

	});

});

$('.footer_front').click(function(){

	$('#menu ul .on span').animate({bottom:-$('#menu ul .on span').height()},200);

	$('#menu ul .on').removeClass("on");

	$(this).hide();

});

</script>

</div>


</body>

</html>