<?php include 'template/header.html';?>


<body>

<div id="frame">

	<div id="top">

		<a id="logo" href="index.php" style="left:-5px;"><img src="source/images/y_logomain.jpg" align="top"></a>

		<a id="title">首页 --同城新媒</a>

		<span id="list">

		

		   <a href="login.html"><img src="source/images/userlogin.png" align="top"></a>

		

		</span>

	</div>

	<div id="con">

		<div style="margin:0 auto;position:relative;width:100%;max-width:500px;height:auto;margin-top:10px;">

			<img src="source/images/bg.png" width=100% style="vertical-align:top">

			<div class="home-device">

				<a class="arrow-left" href="#"></a>

				<a class="arrow-right" href="#"></a>

				<div class="swiper-main">

					<div class="swiper-container swiper1">

						<div class="swiper-wrapper">

		
							<div class="swiper-slide">
								<a href="category.php"><img alt="夏末玩水趣" id="pc_1" src="uploadpic/AD/20140603033523.jpg" width=100%/></a>
							</div>


							<div class="swiper-slide">
								<a href="category.php"><img alt="自驾超值套票" id="pc_2" src="uploadpic/AD/20140520114225.jpg" width=100%/></a>
							</div>

						

						</div>

					</div>

				</div>

				<div class="pagination pagination1"></div>

			</div>

		</div>

		<div id="menudiv" style="margin:0 auto;position:relative;width:100%;max-width:500px;height:auto;margin-top:0px;">

			<?php 
				foreach($allcategory as $key=>$cat){
			?>

				<div class="tm_div" style="float:left;width:30.67%;height:auto;margin-left:2%;overflow:hidden;margin-top:10px;">

					<a href="category.php?id=<?php echo $cat['id'];?>">
						<img src="upload/m_pic/<?php echo $key+1;?>.jpg" style="position:relative;width:100%;top:0px;left:0px;">
					</a>

					<a href="category.php?id=<?php echo $cat['id'];?>" style="position:absolute;width:100%;height:12px;line-height:12px;text-align:left;top:8px;left:8px;text-decoration:none;color:#ffffff;"><?php echo $cat['name'];?></a>

				</div>

			<?php
				}
			?>
		</div>

	</div>


<?php include 'template/footer.html';?>